<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>记事本</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert-dev.js' %}"></script>
    <script src="{% static 'js/bootstrap-table.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-table-zh-CN.min.js' %}"></script>
    <script src="{% static 'js/api.js' %}"></script>


    <style>
        .add {
            color: red;
            font-weight: bold;
        }

        .edit {
            color: #9d00ff;
            font-weight: bold;
        }

        .delete {
            color: #ff6f00;
            font-weight: bold;
        }

        .recover {
            color: #24c418;
            font-weight: bold;
        }

        .finish {
            color: #0037ff;
            font-weight: bold;
        }

    </style>
</head>

<body>
<div style="text-align: center;">
    <h2><i class="fa fa-trash"></i>
        日志
    </h2>
</div>

<button type="button" class="btn btn-primary btn-lg" id="backMain">返回主页面
    <i class="fa fa-reply" aria-hidden="true" style="font-size:20px"></i>
</button>


<table id="logList" class="table table-hover">
    <thead>
    <tr>
        <th>序号</th>
        <th>ID</th>
        <th>操作</th>
        <th>时间</th>
    </tr>
    </thead>
    <tbody>
    {% for i in log %}
        <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.n_id }}</td>
            {% if i.operation == 'A' %}
                <td class="add">新增</td>
            {% elif i.operation == 'E' %}
                <td class="edit">修改</td>
            {% elif i.operation == 'R' %}
                <td class="recover">恢复</td>
            {% elif i.operation == 'D' %}
                <td class="delete">删除</td>
            {% elif i.operation == 'F' %}
                <td class="finish">完成</td>
            {% endif %}
            <td>{{ i.r_time }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>


<script>

    $('#logList').bootstrapTable({

        //是否显示分页条
        pagination: true,
        //首页页码
        pageNumber: 1,
        //一页显示的行数
        pageSize: 20,
        //是否开启分页条无限循环，最后一页时点击下一页是否转到第一页
        paginationLoop: false,
        //选择每页显示多少行，数据过少时可能会没有效果
        pageList: [20,50],
        //启用关键字搜索框
        search: true,
    })

    $('#backMain').click(function () {
        location.href = '/app/'
    })


</script>
</body>

</html>